[submodule "RenameIt"]
	path = RenameIt
	url = https://github.com/rodi01/RenameIt.git
	ignore = dirty
[submodule "resize_artboard"]
	path = resize_artboard
	url = https://github.com/zhifengkoh/resize_artboard.git
[submodule "ArtboardZoom"]
	path = ArtboardZoom
	url = https://github.com/Arkkimaagi/ArtboardZoom.git
[submodule "Automate-Sketch"]
	path = Automate-Sketch
	url = https://github.com/Ashung/Automate-Sketch.git
[submodule "sketch-measure"]
	path = sketch-measure
	url = https://github.com/utom/sketch-measure.git
[submodule "sketch-link-underline-align"]
	path = sketch-link-underline-align
	url = https://github.com/zholdas/sketch-link-underline-align.git
[submodule "sketch-palettes"]
	path = sketch-palettes
	url = https://github.com/andrewfiorillo/sketch-palettes.git
[submodule "SketchDistributor"]
	path = SketchDistributor
	url = https://github.com/PEZ/SketchDistributor.git
[submodule "Sketch-Navigator"]
	path = Sketch-Navigator
	url = https://github.com/arshad/Sketch-Navigator.git
	ignore = dirty
[submodule "sketch-i18n"]
	path = sketch-i18n
	url = https://github.com/kristof/sketch-i18n.git
[submodule "Sketch-Scale"]
	path = Sketch-Scale
	url = https://github.com/sueLan/Sketch-Scale.git
[submodule "sketch-copy-to-all"]
	path = sketch-copy-to-all
	url = https://github.com/wuwa/sketch-copy-to-all.git
[submodule "gb-sketch-segmentcircle"]
	path = gb-sketch-segmentcircle
	url = https://github.com/design4use/gb-sketch-segmentcircle.git
[submodule "Checkpoints-Plugin-for-Sketch"]
	path = Checkpoints-Plugin-for-Sketch
	url = https://github.com/einancunlu/Checkpoints-Plugin-for-Sketch.git
[submodule "Generate-ICNS"]
	path = Generate-ICNS
	url = https://github.com/nathco/Generate-ICNS.git
[submodule "Sketch-Layer-Tools"]
	path = Sketch-Layer-Tools
	url = https://github.com/hrescak/Sketch-Layer-Tools.git
[submodule "sketch-symbol-me"]
	path = sketch-symbol-me
	url = https://github.com/websiddu/sketch-symbol-me.git
